/* Add this to your CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
.chart {
    margin-top: 2rem;
  }
  
  .small-chart {
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    max-width: 100%;
    margin: auto; /* Center the chart */
  }
  
  /* Optional: Adjust other chart styles if necessary */
  .chart canvas {
    max-width: 100%;
  }
  .chart{
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    max-width: 100%;
    margin: left; /* Center the chart */
  }